<script lang="ts">
import ChangeableList from "./ChangeableList.vue";
import { defineComponent } from "vue";
import { useMainStore } from "@/store";
import { v4 as uuidv4 } from "uuid";
export default defineComponent({
  components: {
    ChangeableList,
  },
  setup() {
    const store = useMainStore();
    return { store };
  },
  methods: {
    addItem(value: string) {
      let uuid = uuidv4();
      this.store.createNewcategory({
        name: value,
        uuid: uuid,
      });
    },
    deleteItem(index: number) {
      this.store.deletecategory(index);
    },
  },
});
</script>

<template>
  <div class="modal" id="categoryModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Kategorien erstellen/bearbeiten</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ChangeableList
            v-bind:initItems="store.categories.map((element) => element.name)"
            placeholder="Kategorie hinzufügen"
            @add-item="addItem"
            @delete-item="deleteItem"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
