<script lang="ts">
import { defineComponent } from "vue";
import type { PropType } from "vue";

export default defineComponent({
  props: {
    initItems: {
      type: Array as PropType<string[]>,
      required: true,
    },
    usableItems: {
      type: Array as PropType<string[]>,
      required: false,
    },
    placeholder: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      currentInputText: "",
    };
  },
  mounted() {
  },
  methods: {
    addItem() {
      this.$emit("addItem", this.currentInputText);
      this.currentInputText = "";
    },
    addFromLowerToUpperList(item: string) {
      this.$emit("addItem", item);
    },
    deleteItem(index: number) {
      this.$emit("deleteItem", index);
    },
  },
});
</script>

<template>
  <div class="container border m-0 mt-1 mb-1 p-2 bg-light">
    <div class="input-group mb-1">
      <input
        type="text"
        v-model="currentInputText"
        class="form-control"
        :placeholder="placeholder"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        v-on:keyup.enter="addItem"
      />
      <button
        class="btn btn-primary bi bi-plus-circle"
        type="button"
        id="button-addon2"
        v-on:click="addItem"
      ></button>
    </div>
    <div>
    <ul class="list-group">
      <li class="list-group-item" v-if="initItems.length <= 0">
        <b>Liste leer, bitte auf (+) klicken.</b>
      </li>
      <li
        class="list-group-item"
        aria-current="true"
        v-for="(item, index) in initItems"
        v-bind:key="index"
      >
        <span class="float-none">
          {{ item }}
        </span>
        <span class="float-end">
          <i
            class="btn btn-danger btn-sm bi bi-trash"
            v-on:click="deleteItem(index)"
          />
        </span>
      </li>
    </ul>
    </div>
    <hr/>
    <div>
    <ul class="list-group">
      <li
        class="list-group-item"
        aria-current="true"
        v-if="usableItems"
        v-for="(item, index) in usableItems"
        v-bind:key="index"
      >
        <span class="float-none">
          {{ item }}
        </span>
        <span class="float-end">
          <i
            class="btn btn-success btn-sm bi bi-plus"
            v-on:click="addFromLowerToUpperList(item)"
          />
        </span>
      </li>
    </ul>
    </div>
  </div>
</template>

<style></style>
