<script lang="ts">
import { defineComponent } from "vue";
import type { Question } from "@/models/question";
import type { PropType } from "vue";
export default defineComponent({
  props: {
    showActions: {
      type: Boolean,
      required: true,
      default: true,
    },
    questions: {
      type: Array as PropType<Question[]>,
      required: true,
    },
  },
  methods: {
    deleteItem(index: number) {
      this.$emit("deleteItem", index);
    },
  },
});
</script>

<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Frage</th>
        <th scope="col">Tags</th>
        <th scope="col" class="float-end" v-if="showActions">Aktionen</th>
      </tr>
    </thead>
    <tbody v-for="(question, index) in questions" v-bind:key="index">
      <tr>
        <td>{{ question.text }}</td>
        <td>
          <span v-if="question.tags !== undefined">{{
            question.tags.join(", ")
          }}</span>
        </td>
        <td>
          <div
            class="btn-group float-end"
            role="group"
            aria-label="Basic example"
            v-if="showActions"
          >
            <i
              class="btn btn-secondary btn-sm bi bi-pencil-square"
              data-bs-toggle="modal"
              data-bs-target="#questionModal"
              :data-bs-uuid="question.uuid"
            />
            <i
              class="btn btn-danger btn-sm bi bi-trash"
              v-on:click="deleteItem(index)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style></style>
