<script lang="ts">
import ChangeableList from "./ChangeableList.vue";
import type { Question } from "@/models/question";
import { defineComponent } from "vue";
import { v4 as uuidv4 } from "uuid";
import { useMainStore } from "@/store";
function initialState() {
  return {
    question: {
      uuid: uuidv4(),
      text: "",
      tags: [],
      categoryUuid: "",
      notes: "",
      infotext: "",
      fullTextAnswer: false,
      range: {
        enable: false,
        leftScale: "",
        leftScaleEmoji: "",
        rightScale: "",
        rightScaleEmoji: "",
      },
      multipleChoice: {
        enable: false,
        choices: [],
      },
      profileBasedAnswers: false,
      allowLists: false,
      negativeList: [],
      neutralList: [],
      positiveList: [],
    } as Question,
  };
}
export default defineComponent({
  components: {
    ChangeableList,
  },
  data() {
    return initialState();
  },
  setup() {
    const store = useMainStore();
    return { store };
  },
  methods: {
    saveQuestion: function () {
      this.question.uuid = uuidv4();
      this.store.createNewquestion(this.question);
    },
  },
  mounted() {
    var questionModal = document.getElementById("questionModal") as HTMLElement;
    var self = this;
    if (questionModal) {
      questionModal.addEventListener("show.bs.modal", (event: Event) => {
        let mEvent = event as MouseEvent;
        var triggerer = mEvent.relatedTarget as HTMLElement;
        if (!triggerer) return;
        var uuid = triggerer.getAttribute("data-bs-uuid");
        if (!uuid) {
          Object.assign(self.$data, initialState());
          this.store.createNewquestion(this.question);
        }
        let findQuestion = self.store.questions.find(
          (element) => element.uuid === uuid
        );
        if (findQuestion) {
          // this patches the "older" findquestion with newer fields
          Object.assign(findQuestion, {
            ...initialState().question,
            ...findQuestion,
          });
          // save question
          self.question = findQuestion;
        }
      });
      questionModal.addEventListener("hide.bs.modal", () => {
        self.store.saveToBrowserStore();
      });
    }
  },
});
</script>

<template>
  <div class="modal" id="questionModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Frage erstellen/bearbeiten</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <h2>Frage</h2>
              <div class="mb-3">
                <label for="question" class="form-label">Frage:</label>
                <input
                  v-model="question.text"
                  type="text"
                  class="form-control"
                  id="question"
                  placeholder="Frage verfassen"
                />
              </div>
              <div class="mb-3">
                <label for="notes" class="form-label">Notizen:</label>
                <textarea
                  v-model="question.notes"
                  type="text"
                  class="form-control"
                  id="notes"
                  placeholder="Notizen verfassen..."
                  mul
                />
              </div>
              <div class="mb-3">
                <label for="infotext" class="form-label"
                  >Informationstext:</label
                >
                <textarea
                  v-model="question.infotext"
                  type="text"
                  class="form-control"
                  id="infotext"
                  placeholder="Informationstext verfassen..."
                  mul
                />
              </div>
              <div class="mb-3 form-group">
                <div class="dropdown">
                  <label for="">Tags</label>
                  <ChangeableList
                    :initItems="question.tags"
                    :usableItems="store.tags"
                    placeholder="Tags hinzufügen..."
                    @add-item="(text) => question.tags.push(text)"
                    @delete-item="(index) => question.tags.splice(index, 1)"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <h2>Antwortmöglichkeiten</h2>
              <div class="form-check">
                <input
                  v-model="question.fullTextAnswer"
                  type="checkbox"
                  class="form-check-input"
                  id="freetext"
                />
                <label class="form-check-label" for="freetext"
                  >Freitext Antwort erlaubt</label
                >
              </div>
              <hr />
              <div class="form-check">
                <input
                  v-model="question.range.enable"
                  type="checkbox"
                  class="form-check-input"
                  id="rangeEnable"
                />
                <label class="form-check-label" for="rangeEnable"
                  >Schieberegler erlauben</label
                >
              </div>
              <div class="container" v-if="question.range.enable">
                <div class="mb-3">
                  <input
                    v-model="question.range.leftScale"
                    type="text"
                    class="form-control"
                    id="question"
                    placeholder="Von (links)"
                  />
                  <input
                    v-model="question.range.rightScale"
                    type="text"
                    class="form-control"
                    id="question"
                    placeholder="Bis (rechts)"
                  />
                </div>
              </div>
              <hr />
              <div class="form-check">
                <input
                  v-model="question.allowLists"
                  type="checkbox"
                  class="form-check-input"
                  id="allowLists"
                />
                <label class="form-check-label" for="allowLists"
                  >Assoziationen erlauben</label
                >
              </div>
              <div class="container" v-if="question.allowLists">
                <div class="row">
                  <div class="col-12">
                    <ChangeableList
                      :initItems="question.positiveList"
                      placeholder="positive Assoziation hinzufügen"
                      @add-item="(text) => question.positiveList.push(text)"
                      @delete-item="
                        (index) => question.positiveList.splice(index, 1)
                      "
                    />
                  </div>
                  <div class="col-12">
                    <ChangeableList
                      :initItems="question.neutralList"
                      placeholder="negative Assoziation hinzufügen"
                      @add-item="(text) => question.neutralList.push(text)"
                      @delete-item="
                        (index) => question.neutralList.splice(index, 1)
                      "
                    />
                  </div>
                  <div class="col-12">
                    <ChangeableList
                      :initItems="question.negativeList"
                      placeholder="neutrale Assoziation hinzufügen"
                      @add-item="(text) => question.negativeList.push(text)"
                      @delete-item="
                        (index) => question.negativeList.splice(index, 1)
                      "
                    />
                  </div>
                </div>
              </div>
              <hr />
              <div class="form-check">
                <input
                  v-model="question.multipleChoice.enable"
                  type="checkbox"
                  class="form-check-input"
                  id="multipleChoice"
                />
                <label class="form-check-label" for="multipleChoice"
                  >Mehrfachantworten erlauben</label
                >
              </div>
              <div class="container" v-if="question.multipleChoice.enable">
                <div class="row"></div>
                <div class="row">
                  <div class="col-12">
                    <ChangeableList
                      :initItems="question.multipleChoice.choices"
                      placeholder="Mehrfachauswahl hinzufügen"
                      @add-item="
                        (text) => question.multipleChoice.choices.push(text)
                      "
                      @delete-item="
                        (index) =>
                          question.multipleChoice.choices.splice(index, 1)
                      "
                    />
                  </div>
                </div>
              </div>
              <hr />
              <div class="form-check">
                <input
                  v-model="question.profileBasedAnswers"
                  type="checkbox"
                  class="form-check-input"
                  id="profileBasedAnswers"
                />
                <label class="form-check-label" for="profileBasedAnswers"
                  >Profilbasierte Antworten erstellen (Hobbies,
                  Interessen...)</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
