<script lang="ts">
import { defineComponent } from "vue";
import { useMainStore } from "@/store";
import type { Question } from "@/models/question";
import type { Category } from "@/models/category";
import QuestionTable from "./QuestionTable.vue";
export default defineComponent({
  components: {
    QuestionTable,
  },
  data() {
    return {
      uploadQuestions: [] as Question[],
      uploadCategories: [] as Category[],
    };
  },
  setup() {
    const store = useMainStore();
    return { store };
  },
  methods: {
    uploadFile() {
      let fileElement = this.$refs.file as HTMLInputElement;
      let fileList = fileElement.files as FileList;

      const reader = new FileReader();
      reader.onload = (e) => {
        if (e.target) {
          this.parseFile(e.target.result as string);
        }
      };
      reader.readAsText(fileList[0]);
    },
    parseFile(fileContent: string) {
      let database = JSON.parse(fileContent);
      if (database.questions) {
        this.uploadQuestions = database.questions;
      }
      if (database.categories) {
        this.uploadCategories = database.categories;
      }
    },
    setData() {
      this.store.$patch({
        questions: this.uploadQuestions,
        categories: this.uploadCategories,
      });
      this.store.saveToBrowserStore();
    },
  },
});
</script>

<template>
  <div class="modal" id="uploadfileModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Datenbank hochladen</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input
            class="form-control"
            type="file"
            @change="uploadFile"
            ref="file"
          />
          <h2>Vorschau</h2>
          <QuestionTable
            :show-actions="false"
            :questions="uploadQuestions"
            :categories="uploadCategories"
          />
          <button class="btn btn-primary float-end" @click="setData">
            Daten übernehmen
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
