<script lang="ts">
import QuestionModal from "./components/QuestionModal.vue";
import QuestionTable from "./components/QuestionTable.vue";
import CategoryModal from "./components/CategoryModal.vue";
import UploadFileModal from "./components/UploadFileModal.vue";
import { defineComponent } from "vue";
import { useMainStore } from "./store";
export default defineComponent({
  components: {
    QuestionModal,
    QuestionTable,
    CategoryModal,
    UploadFileModal,
  },
  mounted() {
    /* let localquestions = localStorage.getItem("questions");
    if (localquestions) {
      this.questions = JSON.parse(localquestions);
    }*/
  },
  setup() {
    const store = useMainStore();
    return { store };
  },
  methods: {
    downloadData: function () {
      let localquestions = localStorage.getItem("questions");
      let localcategories = localStorage.getItem("categories");
      let database = Object();
      if (localquestions) {
        let parsed = JSON.parse(localquestions);
        database.questions = parsed;
      }
      if (localcategories) {
        let parsed = JSON.parse(localcategories);
        database.categories = parsed;
      }
      if (database) {
        let d = new Date();
        let datestring =
          d.getFullYear() +
          "-" +
          (d.getMonth() + 1) +
          "-" +
          d.getDate() +
          "_" +
          d.getHours() +
          "-" +
          d.getMinutes() +
          "-" +
          d.getSeconds();
        let now = datestring + "_Fragendatenbank.json";
        const a = document.createElement("a");
        a.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(JSON.stringify(database)));
        a.setAttribute('download', now);
        a.style.display = "none";
        document.body.appendChild(a);

        a.click();
        document.body.removeChild(a);
      }
    },
  },
});
</script>

<template>
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <h1>Fragendatenbank</h1>
      </div>
      <div class="col">
        <div
          class="btn-group float-end"
          role="group"
          aria-label="Basic example"
        >
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#questionModal"
            data-bs-uuid=""
          >
            Frage hinzufügen
          </button>
          <button
            type="button"
            class="btn btn-success bi bi-box-arrow-in-down"
            v-on:click="downloadData"
            alt="Datenbank herunterladen"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Datenbank herunterladen"
          >
            Datenbank speichern
          </button>
          <button
            type="button"
            class="btn btn-info bi bi-box-arrow-up"
            alt="Datenbank hochladen"
            data-bs-toggle="modal"
            data-bs-target="#uploadfileModal"
            title="Datenbank hochladen"
          >
            Datenbank laden
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <QuestionTable
          :show-actions="true"
          :questions="store.questions"
          @delete-item="
            (index) => {
              store.deletequestion(index);
            }
          "
        />
      </div>
    </div>
  </div>
  <QuestionModal />
  <CategoryModal />
  <UploadFileModal />
</template>

<style></style>
